.button1 {
width: 115px;
height: 41px;

background: #252628;
border-radius: 25px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;

color: #FFFFFF;

@apply mr-10;
}
.bold {
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 77px;

color: #252628;
}
.purple {
    color: #665BE3;
}
.button2 {
box-sizing: border-box;

width: 203px;
height: 38px;

border: 1px solid #2F2929;
border-radius: 25px;
}