@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    
    color: #2B2B2B;
}
.center {
    position: relative  ;
    top: 50%;
    
    transform: translate(0, 50%);
}